<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src='{{ url_for('static', filename="js/mainpage.js") }}' charset="UTF-8"></script>

  <script>
    /* These variables can be seen by js */
    flaskConfig = {{flaskConfig | tojson}}
  </script>

  <style>
    body {
      padding-top: 6%;
      padding-left: 6%;
      padding-right: 6%;
    }
  </style>
</head>

<body>
<!-- Search Bar -->
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input id="SearchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button id="SearchButton" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
        </form>
      </nav>
    </div>
    <div class="row">
      <button id="PrevPageButton" type="button" class="btn btn-info">Prev</button>
      <button id="NextPageButton" type="button" class="btn btn-info" style="margin-left: 6px">Next</button>
      <h4 id="CurrentPageLabel" style="margin-left: 6px">Page: 0</label>
    </div>
    <br>
  </div>
<!-- Search Bar -->

<!-- Search Results -->
  <template id="ResultItemTemplate">
    <div class="container border border-success">
        <div name="Item" class="container">
          <div class="row">
            <h3><a href="javascript:void(0);" name="CatalogName">CatalogName</a></h3>
          </div>
          <div class="row">
            <a href="javascript:void(0);" name="TableMembers" style="margin-right: 8px">Tables</a>
          </div>
          <div class="row">
            <h6 name="Description">Description</h6>
          </div>
        </div>
    </div>
    <br>
  </template>
  <div id="SearchResults">
  </div>
<!-- Search Results -->


<!-- Table Preview Dialog -->
<div id="TablePreviewDialog" title="Table Preview" style="display:none">
  <table class="table" id="TablePreview">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Table Preview Dialog -->

</body>
</html>
